body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bs-secondary-text-emphasis);
}

#jumbo-div {
  padding: 36px;
  text-align: center;
  position: relative;
}

#jumbo-inner {
  background: rgba(91,86,86,0.82);
  border-radius: 20px;
  padding: 17px;
  text-align: center;
  text-shadow: var(--bs-form-invalid-color);
}

#jumbo-div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -1;
}

.container {
  padding: 8px;
}

.section-container {
  text-align: center;
  padding: 50px 0 10px;
}

.section-container h1 {
  margin-bottom: 10px;
}

.flush-paragraph {
  max-width: 701px;
  margin: 0 auto;
}

